/*
 * Custom stylesheet
 */


 #profile-pic {
 	width: 150px;
  	height: 150px;
 	border-radius: 50%;
  	background-position: center center;
  	background-size: cover;
 }


header {
 	background-image: url("../img/stari-most.jpg");
 	background-repeat: no-repeat;
 	background-size: 100% 100%;
	background-position: center;
 }


@media(min-width:768px) {
	.navbar-fixed-top {
       	padding: 5px 0;
    }
}


.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
	border: solid 0px #fff;
    color: #18bc9c;
    background: transparent;
}


.btn-outline {
	border: solid 0px #fff;
}

			
ul.list-inline li {
	margin: 0 0 0 0.5em;
}
				
ul.list-inline li:first-child {
	margin-left: 0;
}

ul.list-inline.skills li {
	margin: 0 0 0 0;
}