/*
 * Custom stylesheet
 */

 #profile-pic {
 	width: 150px;
  	height: 150px;
 	border-radius: 50%;
  	background-position: center center;
  	background-size: cover;
 }

 #header-bg {
 	background-image: url("../img/stari-most.jpg");
 	background-repeat: no-repeat;
 	background-size: 100% 100%;
	background-position: center;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(grayscale.svg); /* Firefox 4+ */
	filter: gray; /* IE 6-9 */;
 }